form{
    display:flex;
    flex-direction: column;
        margin-top: 50px;

}
label{
    display: flex;
    margin-left: 500px;
}
button{
    background-color: #f32e5b;
  color: white;
  margin-left: 10px;
}
.Text , input[type="submit"]{
    background-color: skyblue;
}
.Items-searchTerm{
    width: 300px;
    margin-bottom: 20px;
}
 input[type="text"]{
     width:300px;
 }
.Mark , .unMark{
    margin-top: 20px;
    height: 50px;
}